@font-face {
  font-family: "iconfont"; /* Project id 2542731 */
  src: url("//at.alicdn.com/t/font_2542731_s687d8funun.woff2?t=1620789963210")
      format("woff2"),
    url("//at.alicdn.com/t/font_2542731_s687d8funun.woff?t=1620789963210")
      format("woff"),
    url("//at.alicdn.com/t/font_2542731_s687d8funun.ttf?t=1620789963210")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  color: #75b9eb;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e608";
}
/* .iconfont :hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
} */
#aside-content .card-info .card-info-social-icons .social-icon .fa-qq{
  color: #10a4ff;
}
#aside-content .card-info .card-info-social-icons .social-icon .fa-weixin{
  color: #00bf03;
}
#aside-content .card-info .card-info-social-icons .social-icon .fa-alipay{
  color: #4890f7;
}
#aside-content .card-info .card-info-social-icons .social-icon .fa-heart{
  color: #4890f7;
}